* {
	font-family: 'Open Sans', sans-serif;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


body{
    background-image: url(https://images.pexels.com/photos/371900/pexels-photo-371900.jpeg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nomeAtividade {
    color: #ffffff;
    visibility: visible
}

.descricaoAtividade{
    color: #ffffff;
    visibility: visible;
}

.serieAtividade{
    color: #ffffff;
    visibility: collapse;
}

.botoes {
    padding: 0;
    margin: auto;
}