body{
    background-image: url(https://images.pexels.com/photos/371900/pexels-photo-371900.jpeg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes {
    padding: 0;
    margin: auto;
}